@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

html,
body {
  font-size: 100%;
  line-height: 1.6875;
  height: 100%;
}

#cover{
  background: #222 url('contacts_app.jpg') center center no-repeat;
  background-size: cover;
  color: black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
//  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#cover-caption {
 width: 100%;
}

#pageContent{
  margin-top: 40px;
}

.margin-bot{
  margin-bottom: 10px;
}

.click-able{
  cursor: pointer;
}

.no-click-able{
  cursor: default;
}