@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

html,
body {
  font-size: 100%;
  line-height: 1.6875;
}

#pageContent{
  margin-top: 40px;
}

.margin-bot{
  margin-bottom: 10px;
}

.click-able{
  cursor: pointer;
}

.no-click-able{
  cursor: default;
}