// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  font-size:13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 18px;
}

#pageContent{
  margin-top: 40px;
}

#contact-table{

}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}