// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  font-size:13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 18px;
}


@media all and (max-width: 1366px) { /* screen size until 1000px */
  body {
    font-size: 1em; /* 1.2x default size */
  }
}

@media all and (max-width: 768px) { /* screen size until 1000px */
  body {
    font-size: 0.95em; /* 1.2x default size */
  }
}

@media all and (max-width: 576px) { /* screen size until 500px */
  body {
    font-size: 0.9em; /* 0.8x default size */
  }
}

/*
@media (max-width: 400px) {
  body { font-size:90%;}
}

@media only screen and (max-width: 800px) {
  body { font-size:100%;}
}

@media only screen and (max-width: 1100px) {
  body { font-size:120%;}
}
*/

#pageContent{
  margin-top: 40px;
}

#contact-table{

}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}