// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pageContent{
  background: #222 url('contacts_app.jpg') center center no-repeat;
  background-size: cover;
  color: black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}
